![download.png]()

# **Pandas Introduction**

Pandas is a Python library which is extensively used in data analytics to read csv files and perform operations and do analysis using it. 

Today we'll be covering following topics
1. DataFrame vs Series
2. Reading and manipulation of data

###**1. Import the package**

Before getting started with pandas import the library pandas. 'pd' is standard alias used for pandas, set by the community

In [1]:
import pandas as pd

###**2. Create DataFrame**

### So what is Dataframe ?
* A DataFrame is a 2-dimensional data structure that can store data of different 
types (including characters, integers, floating point values, categorical data and more) in columns. 
* It is similar to a spreadsheet

Q1. Create a dataframe vegeatables that looks like the diagram given below

In [11]:
# Assign the dataframe to a variable names vegetables
vegetables = pd.DataFrame([[50,60], [100, 21]], columns=['Cauliflower', 'Cabbage'])
vegetables

   Cauliflower  Cabbage
0           50       60
1          100       21

Q2. Create a dataframe vegetables that records data for two veggies, that is, 'Cauliflower' and 'Cabbage'. The dataframe should tell us how many veggies of each kind are present in two carts A and B

In [12]:
# Assign the required dataframe to the variable vegetables
vegetables = pd.DataFrame([[30,40], [50,60]], columns=['Cauliflower', 'Cabbage'], index=['Cart A', 'Cart B'])
vegetables

        Cauliflower  Cabbage
Cart A           30       40
Cart B           50       60

### Adding new rows and columns to dataframe

In [15]:
# Adding new column to the dataframe
potato = [70, 80]
vegetables['Potato'] = potato

vegetables.head()

        Cauliflower  Cabbage  Potato
Cart A           30       40      70
Cart B           50       60      80

Append a row

In [16]:
cart_c = pd.DataFrame([[90, 20]], columns=['Cauliflower','Cabbage'], index=['Cart C'])

In [17]:
cart_c

        Cauliflower  Cabbage
Cart C           90       20

In [18]:
veg = vegetables.append(cart_c)

In [19]:
veg

        Cauliflower  Cabbage  Potato
Cart A           30       40    70.0
Cart B           50       60    80.0
Cart C           90       20     NaN

In [ ]:
vegetables

        Cauliflower  Cabbage  Potato
Cart A           30       40      70
Cart B           50       60      80

Append row at specific position

In [ ]:
df2 = pd.concat([vegetables[:1], cart_c, vegetables[1:]])
df2

        Cauliflower  Cabbage  Potato
Cart A           30       40    70.0
Cart C           90       20     NaN
Cart B           50       60    80.0

### **3. Create Series**

Series is a type of list in pandas which can take integer values, string values, etc. A single column of a DataFrame is called Series and a dataframe can consist of multiple series.

Q3. Create a series that consist of prices of Pizza in different cities

In [22]:
pizza_price = [300, 400, 150, 200]
cities = ['Delhi', 'Mumbai', 'Bengaluru', 'Chandigarh']

# price = pd.Series(pizza_price, index=cities, name='pizza')
price = pd.Series(pizza_price)

price

0    300
1    400
2    150
3    200
dtype: int64

Each column of a dataframe is also series. A dataframe is collection of one or more series


Q4. Store the quantity of cauliflower in cart A and cart B in a variable called **'total_quantity_cauliflower'**

In [23]:
total_quantity_cauliflower = veg.Potato
total_quantity_cauliflower

Cart A    70.0
Cart B    80.0
Cart C     NaN
Name: Potato, dtype: float64

In [24]:
vegetables.Potato

Cart A    70
Cart B    80
Name: Potato, dtype: int64

# DataFrame vs Series: What's the difference ?

![Screenshot 2021-01-20 112630.png]()


Series is a list that can store values of different datatypes whereas a DataFrame is a collection of series. Each column in a DataFrame is a Series in itself.